.logo-container_top {
  margin: 243.3px 0 0;
  width: 100%;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: AfterLoaded 6s forwards;
  transform: translateY(400px);
}
.logo-container_bot {
  margin: 288.67px 0 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-container_top .logo-wrapper {
  width: 284.9px;
  height: 192.32px;
}
.logo-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.4s ease-in-out;
}
.logo-wrapper img:hover {
  transform: scale(1.3);
  transition: transform 0.4s ease-in-out;
}
@keyframes AfterLoaded {
  0% {
    transform: translateY(400px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width:1440px) {
  .logo-container_top {
    margin: 200px 0 0;
  }
  .logo-container_bot  {
    margin: 250px 0 0;
  }
}
@media screen and (max-width:1300px) {
  .logo-container_top {
    margin: 150px 0 0;
  }
  .logo-container_bot  {
    margin: 200px 0 0;
  }
}